<nav id="main-nav" class="navbar navbar-dark bg-light pt-3">
	<div class="container-fluid justify-content-start">
		<div class="row">
			<div class="col pe-0 mt-1">
				<a class="link-light navbar-brand me-2" data-bs-toggle="collapse" href="#navbarSupportedContent" role="button">
					Twit-arr
				</a>
			</div>
			<div class="col px-0"><LinkTo @route="tweets" class="nav-link">Tweets</LinkTo></div>
			<div class="col px-0"><LinkTo @route="forums" class="nav-link">Forums</LinkTo></div>
			<div class="col px-0"><LinkTo @route="seamail" class="nav-link">Seamail</LinkTo></div>
			<div class="col px-0"><LinkTo @route="events" class="nav-link">Schedule</LinkTo></div>
		</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav navbar-dark bg-transparent mb-3">
				<li class="nav-item d-flex align-items-center">
					<LinkTo @route="index" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</LinkTo>
				</li>
				<li class="nav-item">
					<LinkTo @route="fez" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Looking For Group</LinkTo>
				</li>
				<li class="nav-item">
					<LinkTo @route="boardgames" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Games</LinkTo>
				</li>
				<li class="nav-item">
					<LinkTo @route="karaoke" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Karaoke</LinkTo>
				</li>
				<hr class="main-menu-divider" />
				{{#if this.session.isAuthenticated}}
					<!-- IF USER IS MOD -->
					<li class="nav-item">
						<LinkTo @route="reports" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Reports</LinkTo>
					</li>
					<li class="nav-item">
						<LinkTo @route="moderator.log" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Moderator Log</LinkTo>
					</li>
					<hr class="main-menu-divider" />
					<!-- END IF -->
					<!-- IF USER IS THO -->
					<li class="nav-item">
						<LinkTo @route="admin" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Admin Pages</LinkTo>
					</li>
					<hr class="main-menu-divider" />
					<!-- END IF -->
					<li class="nav-item">
						<LinkTo @route="logout" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Logout {{this.session.currentUser.username}}</LinkTo>
					</li>
				{{else}}
					<li class="nav-item">
						<LinkTo @route="login" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Login</LinkTo>
					</li>
				{{/if}}
			</ul>
			<!-- TODO: SEARCH
			#if(trunk.searchPrompt):
				#if(trunk.tab == "forums"):
					<form class="d-flex" action="/forum/search">
						<div class="input-group btn-group" role="group" aria-label="Search bar and options">
							<input class="form-control" type="search" name="search" placeholder="#(trunk.searchPrompt)" aria-label="Search" autocapitalize="off" required>
							<input type="radio" class="btn-check" name="searchType" value="forums" id="forumsButton" autocomplete="off" checked>
							<label class="btn btn-outline-success flex-grow-0" for="forumsButton">Forums</label>
							<input type="radio" class="btn-check" name="searchType" value="posts" id="postsButton" autocomplete="off">
							<label class="btn btn-outline-success flex-grow-0" for="postsButton">Posts</label>
						</div>
						<button class="btn btn-success ms-2" type="submit">Search</button>
					</form>
				#else:
					<form class="d-flex">
						<input class="form-control" type="search" name="search" placeholder="#(trunk.searchPrompt)" aria-label="Search" autocapitalize="off" required>
						<button class="btn btn-success ms-2" type="submit">Search</button>
					</form>
				#endif
			#endif
			-->
		</div>
	</div>
</nav>
