<div class="container-md ms-0">
  <div class="row justify-content-between align-items-center my-2">
    <div class="col col-auto">
        <b>Server Admin</b>
    </div>
  </div>
  <div class="list-group">
    <LinkTo class="list-group-item list-group-item-action" @route="admin.announcements">
      <b>Announcements</b>: Create, Edit and Delete system-wide announcements
    </LinkTo>		
    <LinkTo class="list-group-item list-group-item-action" @route="admin.daily-themes">
      <b>Daily Themes</b>: Set info for Theme Days, including explanatory text and pictures.
    </LinkTo>		
    <LinkTo class="list-group-item list-group-item-action" @route="admin.server-settings">
      <b>Server Settings</b>: Lots of inscrutable toggles and buttons here.
    </LinkTo>		
    <LinkTo class="list-group-item list-group-item-action" @route="admin.schedule-upload">
      <b>Schedule Upload</b>: Uploads and processes a new schedule.ics file.
    </LinkTo>		
    <LinkTo class="list-group-item list-group-item-action" @route="admin.reg-codes">
      <b>Registration Codes</b>: View/Manage registration code table.
    </LinkTo>		
    <LinkTo class="list-group-item list-group-item-action" @route="admin.mods">
      <b>Manage Moderators</b>: View/Manage moderators.
    </LinkTo>		
    <LinkTo class="list-group-item list-group-item-action" @route="admin.karaoke-managers">
      <b>Manage Karaoke Managers</b>: View/Manage Karaoke Managers.
    </LinkTo>		
  </div>
</div>