<div class="container-md ms-0">
  <div class="row justify-content-between align-items-center my-2">
    <div class="col col-auto">
        <b>Moderator</b>
    </div>
  </div>
  <div class="list-group">
    <LinkTo class="list-group-item list-group-item-action" @route="moderator.reports">
      <b>Reports</b>: Manage reports submitted by users
    </LinkTo>		
    <LinkTo class="list-group-item list-group-item-action" @route="moderator.log">
      <b>Moderator Log</b>: View actions taken by moderators
    </LinkTo>
  </div>
</div>