<div class="container-md ms-0 mt-2 mb-5">
	<DailyTheme @model={{@model.dailyTheme}}/>
	<Announcements @model={{@model.announcements}}/>
	
	{{#if this.session.isAuthenticated}}
		#if(trunk.alertCounts.newTwarrtMentionCount > 0 || trunk.alertCounts.newForumMentionCount > 0):
			<h6><b>Notifications</b></h6>
		#endif
		
		<TweetMentions />
		<ForumMentions />
	{{/if}}

	<div class="list-group">
		{{#if this.session.isAuthenticated}}
			<div class="row mt-2">
				<div class="col">
					
					<h4><b>Things to Do:</b></h4>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col">
					<ul class="list-group">
						<li class="list-group-item"><LinkTo @route="profile">View your User Profile</LinkTo></li>
						<li class="list-group-item"><LinkTo @route="profile.blocks">Manage Muted and Blocked Users</LinkTo></li>
						<li class="list-group-item"><LinkTo @route="profile.words">Manage Alert and Mute Keywords</LinkTo></li>
						<li class="list-group-item"><LinkTo @route="profile.create-alt-account">Create an Alt Account</LinkTo></li>
					</ul>
				</div>
			</div>
		{{else}}
			<div class="row my-2">
				<div class="col">
					<p><strong>You are currently logged out</strong></p>
					<p>Use the links below to log in or create an account.</p>
					<p>While logged out, Tweets, Forums, Seamail, and Looking For Group will not be available.</p>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col">
					<LinkTo class="btn btn-outline-primary" @route="login">Login</LinkTo>
					<LinkTo class="btn btn-outline-primary" @route="create-account">Create Account</LinkTo>
				</div>
			</div>
		{{/if}}
	</div>
</div>